.button {
  font-family: "Montserrat";
  color: #F7FFF7;
  margin: 0;
  transition: 0.15s;
  font-weight: 600;
  font-size: 14px;
  border-radius: 12px;
  border: 0;
  padding: 12px 24px;
  box-sizing: border-box;
}
.button_width_container {
  width: 100%;
}
.button_type_primary {
  background: #7368B6;
}
@media (hover: hover) {
  .button_type_primary:hover {
    background: #4E439D;
  }
}
.button_type_secondary {
  background: #E9E8F1;
  color: #7368B6;
}
@media (hover: hover) {
  .button_type_secondary:hover {
    background: #b7afe0;
    color: #F7FFF7;
  }
}

.ring {
  height: 48px;
  touch-action: none;
  z-index: 1;
}
.ring_size_1 {
  width: 30%;
  background: #F7FFF7;
}
.ring_size_2 {
  width: 40%;
  background: #FFC914;
}
.ring_size_3 {
  width: 50%;
  background: #D27E3A;
}
.ring_size_4 {
  width: 60%;
  background: #FE6D73;
}
.ring_size_5 {
  width: 70%;
  background: #1A936F;
}
.ring_size_6 {
  width: 80%;
  background: #3F88C5;
}
.ring_size_7 {
  width: 90%;
  background: #573280;
}
.ring_state_dragged {
  position: absolute;
  z-index: 2;
}

.tower {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  position: relative;
}
.tower::before {
  content: "";
  width: 24px;
  height: 100%;
  display: block;
  background: #383744;
  position: absolute;
}

@font-face {
  src: url(../fonts/font-awesome.ttf);
  font-family: "Font Awesome";
}
.icon {
  background: none;
  border: 0;
  padding: 0;
  font-family: "Font Awesome" !important;
  font-size: 20px !important;
}
.icon_color_purple {
  color: #7368B6;
}
@media (hover: hover) {
  .icon:hover {
    color: #F7FFF7;
  }
}

.number-input {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.game {
  width: 90vw;
  max-width: 900px;
  display: flex;
  border-bottom: 24px solid #383744;
}

.body {
  background: #24232e;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 48px;
}
.wrapper__menu {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  column-gap: 24px;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px 48px;
  border-radius: 24px;
  background: #383744;
  z-index: 4;
}
.modal__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 6px;
}
.modal__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 24px;
}
.modal__dark-background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.5);
}

@font-face {
  src: url(../fonts/Montserrat.ttf);
  font-family: "Montserrat";
}
.header {
  font-family: "Montserrat";
  color: #F7FFF7;
  margin: 0;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  column-gap: 6px;
}
.header_size_l {
  font-size: 30px;
}
.header_size_m {
  font-size: 24px;
}
.header_size_s {
  font-size: 22px;
}
.header_color_purple {
  color: #7368B6;
}

.paragraph {
  font-family: "Montserrat";
  color: #F7FFF7;
  margin: 0;
  font-size: 16px;
}
.paragraph_color_purple {
  color: #7368B6;
}
.paragraph_weight_sb {
  font-weight: 600;
}

/*# sourceMappingURL=main.css.map */
