.button {
    @include default-font();
    @include default-transition() ;  

    font: {
        weight: 600;
        size: 14px;
    }

    border-radius: $step-m;
    border: 0;

    padding: $step-m $step-l;
    box-sizing: border-box;

    &_type_primary{
        background: $primary;

        @media (hover: hover) {
            &:hover {
                background: $purple-100;
            }
        }
    }

    &_type_secondary {
        background: $secondary;
        color: $secondary-text;

        @media (hover: hover) {
            &:hover {
                background: $purple-60;
                color: $white;
            }
        }
    }
}