.dark-background {
    width: 100vw;
    height: 100vh;

    position: absolute;
    left: 0;
    top: 0;

    z-index: $modal-background-zi;

    background: $transparent-black;

    &_hidden {
        display: none;
    }
}