@mixin default-font(){
    font-family: 'Nunito';
    color: $primary-text;
    margin: 0;
}
    
@mixin default-transition(){
    transition: .15s;
}

@mixin font-modifier($modifier, $map){
    @each $item__name, $item in $map{
        &_#{$modifier}_#{$item__name} {
            font-#{$modifier}: $item;
        }
    }
}

@mixin color-purple-modifier() {
    &_color_purple {
        color: $secondary-text;
    }
}