// Steps
$step-m: 12px;
$step-l: $step-m * 2;
$step-s: $step-m / 2;

// z-index
$rings-zi: 1;
$modal-background-zi: 2; 
$modal-zi: 3; 

// Color themes
$primary: $purple-80;
$secondary: $purple-40;

// Text colot themes
$primary-text: $white;
$secondary-text: $purple-80;