.modal {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    gap: $step-l;

    padding: $step-l $step-l * 2; 
    box-sizing: border-box;

    border-radius: $step-l;
    background: $grey-80;

    z-index: $modal-zi;
    position: absolute;

    &_hidden {
        z-index: $hidden-zi;
        display: none;
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: $step-s;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        row-gap: $step-s;
    }

    &__row {
        width: 100%;

        display: flex;
        justify-content: space-between;
        column-gap: $step-l;
    }
}