.modal {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: $step-l;
    padding: $step-l $step-l * 2; 

    border-radius: $step-l;
    background: $grey-80;

    z-index: $modal-zi;

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: $step-s;
    }

    &__row {
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: $step-l;
    }

    &__dark-background {
        width: 100vw;
        height: 100vh;

        position: absolute;
        left: 0;
        top: 0;

        z-index: $modal-background-zi;

        background: $transparent-black;
    }
}