@mixin button-active() {
    background: $purple-80;
    color: $white;
} 

.button {
    @include default-font();
    @include default-transition()  ;  

    font: {
        weight: 600;
        size: 14px;
    }
    
    border-radius: $step-medium;
    border: 0;

    padding: $step-medium $step-large;
    box-sizing: border-box;

    &_type_primary{
        background: $purple-100;
    }

    &_type_secondary {
        background: $purple-40;
        color: $purple-80;
    }

    &:active {
        @include button-active;
    }

    @media (hover: hover) {
        &:hover {
            @include button-active;
        }
    }
}