@font-face {
    src: url(../assets/fonts/Montserrat.ttf);
    font-family: 'Montserrat';
}  

$font-sizes: (
    'l': 30px, 
    'm': 24px, 
    's': 22px
);

.header {
    @include default-font();
    @include font-modifier('size', $font-sizes);
    @include color-purple-modifier();

    font-weight: 700;

    display: inline-flex;
    align-items: center;
    column-gap: $step-s;
}

.paragraph {
    @include default-font();
    @include color-purple-modifier();

    font-size: 16px;

    &_weight_sb {
        font-weight: 600;
    }
}